@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@layer theme {
  @theme {
    --color-bone: #F4F0E8;
    --color-paper: #FBF9F4;
    --color-ink: #20211F;
    --color-graphite: #5E5C56;
    --color-mist: #D9DDD5;
    --color-sage: #8E9F8B;
    --color-terracotta: #C97B5B;
  }
}

@media android {
  :root {
    --font-mono: monospace;
    --font-rounded: normal;
    --font-serif: serif;
    --font-sans: normal;
  }
}

@media ios {
  :root {
    --font-mono: ui-monospace;
    --font-serif: ui-serif;
    --font-sans: system-ui;
    --font-rounded: ui-rounded;
  }
}